@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
*{
    box-sizing: border-box;
}
h1{
    margin: 0;
}
body{
    font-family: 'popins', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    background-color: #e4e9f7;

}
.otp-card{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    padding: 3rem;
    box-shadow: 0 10px 40px -20px black;
}
.otp-card-input{
    margin: 30px 0;
    display: grid;
    gap: 30px;
    justify-content: center;
    grid-template-columns: repeat(4,auto);
}
.otp-card-inputs input{
    width: 60px;
    height: 70px;
    font-size: 35px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
}
.otp-card-inputs input:focus {
    outline: 2px solid rgba(27, 13, 220, 0.81);
    border-color: transparent;
}
.otp-card button {
    background-color: rgba(27, 13, 220, 0.81);
    border: none;
    padding: 15px 50px;
    font-size: 18px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 15px;

}
.otp-card button:hover {
    opacity: .9;
}
.otp-card button[disabled]{
    opacity: .6;
    cursor: default;
}